@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$brand: #ee2e68;
$bg_ddd: rgb(231, 226, 226);

* {
    padding: 0;
    margin: 0;
}

.padding_top {
    padding-top: 57px;
}

.form_wraper {
    padding: 0px 160px;
}

.gradient_bg {
    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);

}

.gradient {
    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wellcome {
    background: linear-gradient(130deg, #1f403796, #99f2c85d),
        url('https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .head {
        // margin-top: 15%;

        text-align: center;
        color: white;

        h1 {
            font-size: 2.3rem;
            padding: 10px;

            span {
                position: relative;
                z-index: 2;
                font-weight: lighter;
            }

            span::before {
                content: '';
                position: absolute;
                top: 11px;
                right: 0;
                bottom: 2px;
                left: 0;
                display: block;
                background-color: $brand;
                z-index: -1;
            }
        }

        p {
            font-size: 20px;
            padding: 10px;
            font-family: 'Source Sans Pro', sans-serif;
        }
    }

    .button {
        width: 190px;
        display: flex;
        justify-content: space-around;

        button {
            outline: none;
            padding: 12px 15px;
            background-color: rgb(37, 37, 37);
            border-radius: 5px;
            border: none;
            color: white;
            font-weight: bold;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        button:active {
            background-color: black;
        }

        button:hover {
            color: $brand;
        }
    }
}

//devprofile
.devprofile {



    .header {
        font-family: 'PT Sans Narrow', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px 0;
        background: rgb(2, 0, 36);
        background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
        color: white;

        h1 {
            padding: 5px 0;
        }
    }

    .profile {
        padding: 30px 0;

        :hover .profile_details .name h3 {
            background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .single_profile {
            height: auto;
            display: flex;
            flex-direction: row;
            border: 1px solid #ddd;
            border-radius: 8px;
            // overflow: hidden;

            .image {
                width: 35%;
                min-height: 100%;

                .image_wraper {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: fill;
                    }
                }


            }

            .profile_details {
                width: 65%;
                margin-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;

                .skill {
                    display: flex;
                    height: auto;
                    flex-direction: column;
                    justify-content: space-between;

                    span {
                        background-color: black;
                        color: white;
                        border-radius: 3px;
                        margin: 1px;
                        padding: 1px 3px;
                        font-family: serif;
                        display: inline-block;
                    }

                    a {
                        text-decoration: none;

                        button {
                            display: block;
                            clear: both;
                            background: $brand;
                            color: white;
                        }
                    }


                }
            }
        }
    }
}


.image2 {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 75%;
    width: 100%;
    bottom: 0px;
    background-color: #000;
    display: block;
    opacity: 0.5;
    transition: 0.5s;


    div {
        width: 100%;
        height: 100%;

        span {
            color: white;


        }

        input {
            display: block;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;

            height: 100%;
            width: 100%;
            opacity: 0;
        }
    }

    &:hover {
        opacity: 0.7;
    }

}

.header {

    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
    overflow: hidden;

    .row {
        .image_wraper {
            padding-top: 80px;
            padding-bottom: 40px;
            height: 400px;

            .image_inner {
                width: 80%;
                float: right;

                .img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;

                }
            }

        }

        .profile_details {
            color: rgb(255, 255, 255);
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            padding-bottom: 40px;
            font-family: 'PT Sans Narrow';
        }

        .icon {
            i {
                font-size: 27px;
                padding: 5px;
                margin-right: 4px;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}



.body {
    background: $bg_ddd;
    font-family: 'Source Sans Pro', sans-serif;

    .left {
        .bio {
            background: white;
            border-radius: 4px;
            border: 1px solid #ddd;
            margin: 15px 0;
            box-shadow: -2px 2px 2px -3px #000000;

            h3 {
                background: #f5f5f5;
                border-bottom: 1px solid #ddd;
                padding: 5px;

                i {
                    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-right: 4px;
                }
            }

            p {
                text-align: center;
                padding: 10px;
            }
        }

        .skill {
            margin-bottom: 20px;
            background-color: white;
            box-shadow: -2px 2px 2px -3px #000000;
            border: 1px solid #ddd;

            h3 {
                background: #f5f5f5;
                border-bottom: 1px solid #ddd;
                padding: 5px;

                i {
                    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-right: 4px;
                }
            }

            .span_wraper {
                padding: 10px;

                span {
                    background-color: black;
                    color: white;
                    border-radius: 3px;
                    margin: 1px;
                    padding: 1px 3px;
                    font-family: serif;
                    display: inline-block;
                }
            }
        }

        .education {
            margin-bottom: 15px;
            background-color: white;
            box-shadow: -2px 2px 2px -3px #000000;
            border: 1px solid #ddd;


            h3 {
                background: #f5f5f5;
                border-bottom: 1px solid #ddd;
                padding: 5px;

                i {
                    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-right: 4px;
                }
            }

            .education_wraper {

                padding: 5px 25px 20px 25px;

                .single_education {
                    border-bottom: 1px solid #ddd;
                    padding-top: 20px;

                    &:last-child {
                        border: none;
                    }

                    &:first-child {
                        padding-top: 10px;
                    }
                }
            }
        }
    }

    .right {
        .experience {
            background: white;
            border-radius: 4px;
            border: 1px solid #ddd;
            margin: 15px 0;
            box-shadow: -2px 2px 2px -3px #000000;

            h3 {
                background: #f5f5f5;
                border-bottom: 1px solid #ddd;
                padding: 5px;

                i {
                    background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-right: 4px;
                }
            }
        }

        .experience_wraper {
            padding: 5px 25px 20px 25px;

            .single_experience {
                border-bottom: 1px solid #ddd;
                padding-top: 20px;

                &:last-child {
                    border: none;
                }

                &:first-child {
                    padding-top: 10px;
                }
            }
        }
    }
}


.menu {
    background: white;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.75);
    z-index: 100;
    position: fixed;
    width: 100%;

    nav {
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: default;




        .left_side {
            display: flex;
            flex-direction: row;
            align-items: center;

            .brand_name {
                font-weight: bold;
                font-size: 1.3rem;
                background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-size: 1rem;
                margin-bottom: 0px;
                padding: 12px 20px;
                color: rgb(122, 113, 113);
                font-weight: bold;
                cursor: default;

                &:hover {
                    color: rgb(0, 0, 0);
                }



                a {
                    text-decoration: none;
                    color: rgb(122, 113, 113);

                    &:hover {
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }

        .right_side {
            display: flex;
            flex-direction: row;

            align-items: center;

            p {
                font-size: 1.1rem;
                margin-bottom: 0px;
                padding: 15px 20px;
                color: rgb(122, 113, 113);
                font-weight: bold;

                &:hover {
                    color: rgb(0, 0, 0);
                }

                a {
                    text-decoration: none;
                    color: rgb(122, 113, 113);

                    &:hover {
                        color: rgb(0, 0, 0);
                    }
                }
            }

            .dn {
                display: none;
            }
        }
    }

}

.login {

    font-family: 'Source Sans Pro', sans-serif;

    .login_header {
        h1 {
            font-weight: bold;
            background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 1.1rem;
        }


    }

    .login_form {
        box-sizing: border-box;
        padding: 0px 160px;

        button {
            background: $brand;

        }
    }
}

.signup {

    font-family: 'Source Sans Pro', sans-serif;

    .signup_header {
        h1 {
            font-weight: bold;
            background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 1.1rem;
        }


    }

    .signup_form {
        box-sizing: border-box;
        padding: 0px 160px;

        button {
            background: $brand;

        }
    }
}





.dashboard {

    font-family: 'Source Sans Pro', sans-serif;

    .dashboard_header {
        h1 {
            font-weight: bold;
            background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 1.1rem;
            font-family: 'Source Sans Pro', sans-serif;

        }
    }

    .edit {
        background: #000;
        color: white;
        border-radius: 4px;

        &:hover {
            background: #000;
        }
    }
}





.post {
    background-color: $bg_ddd;
    min-height: 100vh;
    box-sizing: border-box;

    .edit_post {
        padding: 0px 100px;
        border-radius: 5px;
        box-sizing: border-box;



        .posting {
            border: 1px solid #ddd;
            background: white;
            margin-top: 20px;
            border-radius: 5px;

            textarea {
                width: 100%;
                box-sizing: border-box;
                transition: 0.2s;
                outline:  !important none;
                border: none;
                border-bottom: 2px solid $brand;
                outline: none;

                &:focus {
                    border-bottom: 2px solid #8e44ad;
                    outline:  !important none;
                    box-sizing: border-box;

                }

            }

            input {
                margin-top: 5px;
                background: #8e44ad;
                color: white;
            }
        }
    }

    .post_wraper {
        padding: 20px 100px;


    }

}

.single_post {
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);

    .header_post {
        margin-bottom: 7px;

    }

    .post_body {
        margin-bottom: 10px;
    }

    // .like {
    //     img {
    //         fill: rgb(185, 9, 9);
    //     }
    // }
}

.red {
    color: red;
}







.edit_profile {
    padding-top: 57px;

}

.black a {
    color: black !important;
}





.loderwraper {


    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loder {


        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #ee2e68;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

//dev profile 2

.image_wraper2 {
    padding-top: 80px;
    padding-bottom: 40px;
    height: 400px;



    img {
        height: 100%;
        width: 100%;
        object-fit: cover;

    }

}


@media (max-width: 800px) {
    .form_wraper {
        padding: 0px 40px;
    }

    /* Target devices narrower than 768px. */
    .profile {
        padding: 20px 0;



        .single_profile {
            // height: 220px

            .image {
                width: 45%;
            }


        }

        .profile_details {
            width: 55%;

        }
    }

    .menu {
        background: transparent;
        box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.50);

        nav {





            .left_side {

                .brand_name {

                    font-size: 1.2rem;
                    padding: 0px 0px 0px 4px;

                }

                p {


                    color: rgb(39, 34, 34);

                    &:hover {
                        color: rgb(0, 0, 0);
                    }



                    a {

                        color: rgb(39, 34, 34);

                        &:hover {
                            color: rgb(0, 0, 0);
                        }
                    }
                }

                .none {
                    display: none;
                }
            }

            .right_side {


                p {


                    color: rgb(39, 34, 34);


                    &:hover {
                        color: rgb(0, 0, 0);
                    }

                    a {

                        color: rgb(39, 34, 34);

                        &:hover {
                            color: rgb(0, 0, 0);
                        }
                    }
                }

                .none {
                    display: none;

                }

                .dn {
                    display: block;
                }
            }
        }

        .signup {

            .signup_form {

                padding: 0px 40px;
            }


        }

        .login {
            .login_form {

                padding: 0px 40px;


            }
        }
    }

    .header {

        width: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
        overflow: hidden;

        .row {
            .image_wraper {
                padding-top: 60px;
                padding-bottom: 30px;
                height: 380px;

                .image_inner {
                    width: 100%;


                }

            }

            .profile_details {



                padding-bottom: 30px;

            }


        }

    }

}

@media (max-width: 576px) {

    .menu {
        box-shadow: none;

        .brand_name {
            font-size: 1.1rem;


        }

        p {
            padding: none;
            font-size: 0.9rem;

        }

        img {
            display: inline-block;

        }

        .dnone {
            display: none;
        }
    }


    .header {

        width: 100%;
        background: rgb(2, 0, 36);
        background: linear-gradient(324deg, rgba(2, 0, 36, 1) 0%, rgba(238, 46, 104, 1) 100%);
        overflow: hidden;

        .row {
            .image_wraper {
                padding: 60px 30px 30px 30px;

                height: 380px;

                .image_inner {
                    width: 100%;


                }

            }

            .profile_details {

                align-items: center;
                justify-content: center;

                padding-bottom: 30px;

                div p,
                h1 {
                    text-align: center;
                }

            }


        }

        .image_wraper {
            padding-top: 10px;
        }

    }

    .post {
        .edit_post {
            padding: 0px 20px;
        }

        .post_wraper {
            padding: 20px 20px;


        }

    }


    .form_wraper {
        padding: 0px 30px;
    }

    .signup {

        .signup_form {

            padding: 0px 30px;
        }


    }

    .login {
        .login_form {

            padding: 0px 30px;


        }
    }
}


.drawer {

    padding: 30px;
}




.post_icon {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.container {
    position: relative;
}

.page {
    position: absolute;

    top: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

//post animation
.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }