* {
  padding: 0;
  margin: 0;
}

.wellcome {
  background: linear-gradient(130deg, #1f403796, #99f2c85d), url("https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wellcome .head {
  margin-top: 15%;
  text-align: center;
  color: white;
}

.wellcome .head h1 {
  font-size: 2.3rem;
  padding: 10px;
}

.wellcome .head h1 span {
  position: relative;
  z-index: 2;
  font-weight: lighter;
}

.wellcome .head h1 span::before {
  content: '';
  position: absolute;
  top: 11px;
  right: 0;
  bottom: 2px;
  left: 0;
  display: block;
  background-color: #ee2e68;
  z-index: -1;
}

.wellcome .head p {
  font-size: 20px;
  padding: 10px;
  font-family: 'PT Sans Narrow';
}

.wellcome .button {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wellcome .button button {
  outline: none;
  padding: 12px 15px;
  background-color: #252525;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wellcome .button button:active {
  background-color: black;
}

.wellcome .button button:hover {
  color: #ee2e68;
}

.devprofile .header {
  font-family: 'PT Sans Narrow', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 43px 0;
  background: #020024;
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  color: white;
}

.devprofile .header h1 {
  padding: 5px 0;
}

.devprofile .profile {
  padding: 30px 0;
}

.devprofile .profile :hover .profile_details .name h3 {
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.devprofile .profile .single_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.devprofile .profile .single_profile .image {
  width: 35%;
  min-height: 100%;
}

.devprofile .profile .single_profile .image .image_wraper {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.devprofile .profile .single_profile .image .image_wraper img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.devprofile .profile .single_profile .profile_details {
  width: 65%;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.devprofile .profile .single_profile .profile_details .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 126px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.devprofile .profile .single_profile .profile_details .skill span {
  background-color: black;
  color: white;
  border-radius: 3px;
  margin: 1px;
  padding: 1px 3px;
  font-family: serif;
}

.devprofile .profile .single_profile .profile_details .skill button {
  display: block;
  clear: both;
  background: #ee2e68;
  color: white;
}

.header {
  width: 100%;
  background: #020024;
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  overflow: hidden;
}

.header .row .image_wraper {
  padding-top: 80px;
  padding-bottom: 40px;
  height: 400px;
}

.header .row .image_wraper img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
}

.header .row .profile_details {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  font-family: 'PT Sans Narrow';
}

.header .row .icon i {
  font-size: 27px;
  padding: 5px;
  margin-right: 4px;
}

.header .row .icon i:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.body {
  background: #e7e2e2;
  font-family: 'PT Sans Narrow';
}

.body .left .bio {
  background: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 15px 0;
  -webkit-box-shadow: -2px 2px 2px -3px #000000;
          box-shadow: -2px 2px 2px -3px #000000;
}

.body .left .bio h3 {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.body .left .bio h3 i {
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 4px;
}

.body .left .bio p {
  text-align: center;
  padding: 10px;
}

.body .left .skill {
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: -2px 2px 2px -3px #000000;
          box-shadow: -2px 2px 2px -3px #000000;
  border: 1px solid #ddd;
}

.body .left .skill h3 {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.body .left .skill h3 i {
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 4px;
}

.body .left .skill .span_wraper {
  padding: 10px;
}

.body .left .skill .span_wraper span {
  background-color: black;
  color: white;
  border-radius: 3px;
  margin: 1px;
  padding: 1px 3px;
  font-family: serif;
}

.body .left .education {
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: -2px 2px 2px -3px #000000;
          box-shadow: -2px 2px 2px -3px #000000;
  border: 1px solid #ddd;
}

.body .left .education h3 {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.body .left .education h3 i {
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 4px;
}

.body .right .experience {
  background: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 15px 0;
  -webkit-box-shadow: -2px 2px 2px -3px #000000;
          box-shadow: -2px 2px 2px -3px #000000;
}

.body .right .experience h3 {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.body .right .experience h3 i {
  background: linear-gradient(324deg, #020024 0%, #ee2e68 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 4px;
}

.body .right .experience_wraper {
  padding: 5px 25px 20px 25px;
}

.body .right .experience_wraper .single_experience {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

.body .right .experience_wraper .single_experience:last-child {
  border: none;
}

.body .right .experience_wraper .single_experience:first-child {
  padding-top: 10px;
}

@media (max-width: 800px) {
  /* Target devices narrower than 768px. */
  .profile {
    padding: 20px 0;
  }
  .profile .single_profile .image {
    width: 45%;
  }
  .profile .profile_details {
    width: 55%;
  }
}
/*# sourceMappingURL=App.css.map */